@charset "utf-8";
@import "_var", "_mixin", "_function";

#header {
  .logo {display: block;}
}
#gopro1 {
  position: relative; width: 100%; height: 150vh; background: linear-gradient($goproBlue,#005B61, #011D1F, #000000); 
  .project1Main {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    .mainCircleWrap {
      position: relative; width: 670px; height: 670px; margin: 0 auto; 
      .bigMainCircle {
        @include transition(top 1s, left 2s);
        @include transform(translate(-50%, -50%));
        @include border-radius(50%);
        position: absolute; top: 80%; left: 50%; width: 100%; height: 100%; background: #fff; margin: 11.3021vw/* 217px */ auto 0; overflow: hidden; z-index: 500;
        img {
          @include transition(left 0.5s 1s, transform 2s 0s);
          position: absolute;top: 17%; left: 100%;
        }
        &::before {
          @include border-radius(50%);
          position: absolute; border: 1px solid #fff; top: 0; left: 420px; }
        &.up{
          top: 50%;
          img {left: -20%;}
        } 
        &.leftout{
          left: -200%; top: 50%;
          img {
            @include transform(rotate(-360deg));
            left: -20%;
          }
        } 
      }
      .empty {
        @include border-radius(50%);
        position: absolute; top: 217px; left: 420px; width: 670px; height: 670px; border: 1px solid $goproBlue; z-index: 200;
      }
      .emptyCircle1 {left: 349px;}
      .emptyCircle3 {left: 491px;}
      /* .empty {
        @include border-radius(50%);
        position: absolute; top: 217px; left: 420px; width: 670px; height: 670px; border: 1px solid $goproBlue; z-index: 200;
      }
      .emptyCircle1 {
        @include transition(3s opacity(1) 0.5s);
        opacity: 0;
      }
      .emptyCircle1 {
        @include transition(3.3s opacity(1) 0.5s);
        opacity: 0; left: 349px;
      }
      .emptyCircle3 {
        @include transition(3.6s opacity(1) 0.5s);
        opacity: 0; left: 491px;
      } */
    }
    p {
      position: absolute; display: fixed; top: 455px; right: 80px; font-family: "Fugaz one"; font-size: 130px; color: #fff; z-index: 500;
    }
  }
  .simpleExplain {
    position: absolute; bottom: 0; left: 0; background: #000; width: 100%; height: 190px; 
    .sicssor {
      position: relative; height: 224px; line-height: 224px; width: 100%; 
      &::before {
          content:""; clear: both; position: absolute; border-top: 3px dashed #fff; top: -2px; right: 0; width: 97%;
      }
      img {position: absolute; top: -1.6667vw/* -32px */; left: 0; fill: #fff;}
      img.goproLogo {position: absolute; top: 1.5885vw/* 30.5px */; left: 12.5521vw/* 241px */; width: 14.7395vw/* 283px */; height: 8.3854vw/* 161px */; }
      .explainText {
        position: relative; float: right; width: 53.1510vw/* 1020.5px */; height: 5.9635vw/* 114.5px */;
        p {
          position: absolute; display: block; font-size: 17px; line-height: 27px;  font-family: "Fugaz one"; /* padding-right: 87px;  */color: #fff; text-align: left; 
          &:nth-child(1), &:nth-child(3) {left: 0;}
          &:nth-child(1) {top: 38.5px; }
          &:nth-child(2) {top: 38.5px; left: 105px;}
          &:nth-child(3) {top: 68.5px; }
          &:nth-child(4) {top: 68.5px; left: 105px;}
          &:nth-child(5) {top: 38.5px; left: 511px;}
          &:nth-child(6) {top: 38.5px; left: 686px;}
        }
      }
    }
  }
}

/* gopro2 common */
h3 {font-family: KoreanDREAM5; font-size: 28px; padding-bottom: 24px; font-weight: 400;}
p.content {
  font-family: KoreanDREAM3; font-size: 15px; line-height: 22px; display: block; padding-bottom: 130px;
}

/* gopro2 CSS */
#gopro2 {
  position: relative; display: flex; flex-direction: row; flex-wrap: nowrap; background: #F6F6F6; width: 100%; height: 100vh;
  .designLeft {
    margin-left: 167px; margin-top: 141px; position: relative;
    img:first-child {
      position: absolute; top: -0.78125vw/* -15px */; left: -0.78125vw/* -15px */; width: 18.16px; height: 18.36px;
    }
    img:last-child {height: 26.0417vw/* 500px */;}
  }
  .designRight {
    margin-left: 268px; margin-top: 141px; 
    .designColor {
      > p {padding-bottom: 29px;}
      .colorWrap {
        display: flex; flex-direction: row; flex-wrap: nowrap; padding-left: 17px;
        .colorCubeWrap {margin-right: 45px;}
        .colorCube {
          width: 206px; height: 101px;
          & + div {padding-right: 45px;}
        }
        .mainBlue {background: $goproBlue;}
        .subBlue {background: #096A8A;}
        .mainGrey1 {background: #505050}
        .mainGrey2 {background: #c2c2c2; }
        p {
          font-family: KoreanDREAM3; font-size: 0.78125vw/* 15px */; line-height: 1.25vw/* 24px */; letter-spacing: 0.05em; padding-top: 0.78125vw/* 15px */;
        }
      }
    }
    .designTypo {
      margin-top: 7.34375vw/* 141px */;
      > p {padding-bottom: 29px;}
      img {padding-left: 17px;}
    }
  }
}

/* gopro3 CSS */
#gopro3 {
  position: relative; width: 100%; height: 100vh; overflow: hidden; background: #F6F6F6; 
  .bgLine {
    position: absolute; width: 100%; height: 302px; background: $goproBlue; top: 50%; left: 0;
    > p {
      font-family: KoreaDREAM3; font-size: 3.2292vw/* 62px */; letter-spacing: -0.27px; line-height: 4.1146vw/* 79px */; font-weight: 900; padding: 73px 0 73px 55.5208vw/* 1066px */;
    }
  }
  .originalHomepage {
    position: relative; display: inline;
    p {
      display: inline-block; font-family: KoreanDREAM3; padding: 6.9792vw/* 134px */ 0 0 20.8333vw/* 400px */;
    }
    img {position: absolute; top: 50px; left: 9.84375vw/* 189px */; width: 26.1979vw/* 503px */;}
  }
  .analysisText {
    position: relative; width: 35.9375/* 690px */; height: 8.90625vw/* 171px */; float: right; padding-right: 206px; margin-top: 170px;
    img {
      position: absolute; top: -0.78125vw/* -15px */; left: -0.78125vw/* -15px */; width: 18.16px; height: 18.36px;
    }
    p {
      padding-bottom: 0;
      span {color: #16aec0;}
    }
  }
}

/* gopro4 CSS */
#gopro4 {
  position: relative; width: 100%; height: 100vh; overflow: hidden; background: #F6F6F6; 
  .wireframe {
    display: inline-block; margin-left: 0; position: relative; margin: 125px 0 125px; width: 100%;
    > img:first-child {
      position: absolute; top: -0.78125vw/* -15px */; left: 44.5%; width: 18.16px; height: 18.36px;
    }
    h3 {text-align: center;}
    .content {
      padding-bottom: 0; text-align: center;
      span {color: #16aec0;}
    }
  }
  .wireframeWrap {
    display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-end; width: 1250px; height: 476px; text-align: center; margin: 0 auto;
    span {
      display: block; font-family: KoreaDREAM5; font-size: 22px; color: #c4c4c4; text-align: center; padding-top: 77px;
    }
  }
}

#gopro5 {
  position: relative; width: 100%; height: 145.9vh; background: #000000;
  .previewText {
    display: inline-block; background: url("../img/main/previewImg@2x.png") no-repeat fixed center; margin-left: 0; /* margin: 128px 0 0; */ padding-top: 6.6667vw/* 128px */; width: 100%; height: 16.875vw/* 324px */; overflow: hidden; padding-bottom: 11.5625vw/* 222px */; 
    > img {
      position: absolute; top: 10%; left: 39.5%; width: 18.16px; height: 18.36px;
    }
    h3 {position: relative; color: #fff; text-align: center; font-weight: 400;}
    .content {
      position: relative; padding-bottom: 0; text-align: center; color: #fff; font-size: 24px; line-height: 34px;
      span {color: #16aec0;}
    }
    a {
      @include border-radius(50px);
      position: relative;
      display: block; background: #fff; width: 13.125vw/* 252px */; height: 74px; line-height: 74px; font-family: "Fugaz one"; font-size: 24px; color: #000; text-align: center; margin: 151px auto 128px; 
    }
    
  }
  .deviceImg {
    position: relative; width: 100%; height: 35.4167vw/* 680px */; background: #ffffff;
    img {position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; width: 58.3854vw/* 1121px */;}
  }
}

/* gopro6 CSS */
#gopro6 {
  position: relative; width: 100%; height: 100vh; background: #000000;
  .openWax {
    display: inline-block; margin-left: 0; position: relative; margin: 100px 0 0; width: 100%; height: 159px; /* padding-bottom: 222px; */
    > img:first-child {
      position: absolute; top: -15px; left: 36.5%; width: 18.16px; height: 18.36px;
    }
    h3 {color: #fff; text-align: center; padding-bottom: 50px;}
    .content {
      padding-bottom: 0; text-align: center; color: #fff; font-size: 24px; line-height: 34px;
    }
  }
  .openWaxImg {
    position: relative; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; width: 67.5521vw/* 1297px */; height: 30.7292vw/* 590px */; text-align: center; margin: 0 auto; margin-top: 65px;
    .originalPage {
      position: relative; display: inline-block; z-index: 10;
      > img:first-child {padding-bottom: 46px; height: 14.21875vw/* 273px */;}
      .circleScore1 {position: absolute; top: -10%; left: 5%;}
      span {display: inline-block; font-family: KoreanDREAM3; color: #fff;}
    }
    .projectPage {
      position: relative; display: inline-block; z-index: 10;
      > img:first-child {padding-bottom: 46px; height: 14.21875vw/* 273px */;}
      .circleScore2 {position: absolute; top: -10%; left: 5%;}
      span {display: inline-block; font-family: KoreanDREAM3; color: #fff;}
    }
  }
  .decoBlueCircle {
    position: static;
    div {
      @include border-radius(50%);
      position: absolute; top: 0; left: calc(50% - 15.0520vw/* 289px */); width: 26.0416vw/* 500px */; height: 26.0416vw/* 500px */; border: 1px solid $goproBlue; box-sizing: border-box; 
    }
    div:nth-child(2) {left: calc(50% - 17.34375vw/* 333px */);}
    div:nth-child(3) {left: calc(50% - 12.7604vw/* 245px */);}
  }
}

/* gopro7 CSS */
#gopro7 {
  width: 100%; height: 100vh; background: #F6F6F6;
  .swiper-slide {
    position: relative; display: inline-block; margin-left: 0; padding-top: 5.78125vw/* 111px */; width: 100%; height: 100vh;
      .detailText {
        position: relative; width: 100%; height: 81px; 
        > img:first-child {
          position: absolute; top: -15px; left: 5%; width: 18.16px; height: 18.36px;
        }
        h3 {display: inline-block; padding: 0 0 0 113px; vertical-align: top;}
        > p {display: inline-block; padding-left: 105px;}
        .detailTitle {
          font-size: 21px; line-height: 32px;
          strong {font-size: 25px; padding-bottom: 20px;}
        }
      }
      .compare {
        position: relative; font-size: 0; margin-top: 7.1354vw/* 137px */;
        .goproAutoJsWrap {text-align: center;}
        > img {position: absolute; top: 22%; left: 54%; height: 22.03125vw/* 423px */;}
        > img:first-child {width: 39.1667vw/* 752px */;}
        > img:last-child {width: 39.9479vw/* 767px */;}
        > p {font-size: 21px; text-align: center; line-height: 36px; padding-top: 63px;}
      }
  }
  .goproSlide2 {
    .compare2 {
      position: relative; font-size: 0; margin-top: 137px;
      .goproIframeWrap {text-align: center;}
      > img {position: absolute; top: 22%; left: 54%;}
      > p {font-size: 21px; text-align: center; line-height: 36px; padding-top: 63px;}
      > span {color: $goproBlue;}
    }
  }
  .goproSlide3 {
    .compare3 {
      .goproKeyJsWrap {text-align: center;}
      > img:nth-child(2) {position: absolute; top: -13%; left: 65%;}
      > img:nth-child(3) {position: absolute; top: 24%; left: 54%;}
      > p {font-size: 21px; text-align: center; line-height: 36px; padding-top: 63px;}
      > span {color: $goproBlue;}
    }
  }
  .controller {
    position: absolute; top: 50%; left: 0; width: 100%;
    .swiper-button-next, .swiper-button-prev {
        @include bgsize(cover);
        position: static; display: block; background: no-repeat center; width: 25px; height: 43px; top: 50%; 
    }
}
  .swiper-button-next:after, .swiper-button-prev:after {display: none;}
} 