@charset "utf-8";
@import "_var", "_mixin", "_function";

#heyri1 {
  position: relative; width: 100%; height: 150vh; background: #FFEEDB;
  .project3Main {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    .mainCircleWrap {
      position: relative; width: 34.8958vw/* 670px */; height: 34.8958vw/* 670px */; margin: 0 auto; 
      .bigMainCircle {
        @include transition(top 1s, left 2s);
        @include transform(translate(-50%, -50%));
        @include border-radius(50%);
        position: absolute; top: 80%; left: 50%; width: 100%; height: 100%; background: #fff; margin: 11.3021vw/* 217px */ auto 0; overflow: hidden; z-index: 500; 
        img {
          @include transition(left 0.5s 1s, transform 2s 0s);
          position: absolute;/* top: 0;  *//* left: -13%; */
        }
        &::before {
          @include border-radius(50%);
          position: absolute; border: 1px solid #fff; top: 0; left: 420px;
        }
        &.up{
          top: 50%;
        } 
        &.leftout{
          left: -200%; top: 50%;
          img {
            @include transform(rotate(-360deg));
            left: -30%; top: -5%; height: 36.4583vw/* 700px */;
          }
        } 
       }
       .empty {
        @include border-radius(50%);
        position: absolute; top: 217px; left: 420px; width: 670px; height: 670px; border: 1px solid #442a0d; z-index: 200;
      }
      .emptyCircle1 {left: 349px;}
      .emptyCircle3 {left: 491px;}
    }
    p {
      position: absolute; display: fixed; top: 23.6979vw/* 455px */; right: 48px; font-family: "Fugaz one"; font-size: 6.7708vw/* 130px */; color: #000; line-height: 6.3541vw/* 122px */; z-index: 500;
    }
  }
  .simpleExplain {
    position: absolute; bottom: 0; left: 0; background: #442A0D; width: 100%; height: 190px; 
    .sicssor {
      position: relative; height: 224px; line-height: 224px; width: 100%; 
      &::before {
          content:""; clear: both; position: absolute; border-top: 3px dashed #181818; top: -2px; right: 0; width: 97%;
      }
      img {position: absolute; top: -32px; left: 0; fill: #fff;}
      img.heyriLogo {position: absolute; top: 70px; left: 11.9791vw/* 230px */; width: 22.8125vw/* 438px */;  }
      .explainText {
        position: relative; float: right; width: 41.6667vw/* 800px */; height: 114.5px;
        p {
          position: absolute; display: block; font-size: 17px; line-height: 27px;  font-family: "Fugaz one"; /* padding-right: 87px;  */color: #fff; text-align: left; 
          &:nth-child(1), &:nth-child(3), &:nth-child(5) {left: 0;}
          &:nth-child(1) {top: 40.5px; }
          &:nth-child(2) {top: 40.5px; left: 200px;}
          &:nth-child(3) {top: 80.5px; }
          &:nth-child(4) {top: 80.5px; left: 200px;}
          &:nth-child(5) {top: 120.5px;}
          &:nth-child(6) {top: 120.5px; left: 200px;}
        }
      }
    }
  }
}

/* heyri2 common */
h3 {font-family: KoreanDREAM5; font-size: 1.4583vw/* 28px */; padding-bottom: 24px; font-weight: 400;}
p.content {font-family: KoreanDREAM3; font-size: 0.78125vw/* 15px */; line-height: 1.1458vw/* 22px */; display: block; padding-bottom: 25px;}

#heyri2 {
  position: relative; display: flex; flex-direction: row; flex-wrap: nowrap; background: #ffeedb; width: 100%; height: 100vh;
  .designLeft {
    margin-left: 8.6979vw/* 167px */; margin-top: 7.34375vw/* 141px */; position: relative;
    > img:first-child {
      position: absolute; top: -15px; left: -15px; width: 18.16px; height: 18.36px;
    }
    > p {padding-bottom: 46px; }
    .ceramicImgWrap {
      font-size: 0; width: 31.1458vw/* 598px */;
      img {height: 10.8854vw/* 209px */;width: 15.5729vw/* 299px */;}
    }
    .designLogo {
      margin-top: 4.84375vw/* 93px */; 
      .logoImgWrap {font-size: 0;width: 29.2708vw/* 562px */;}
      img {width: 14.6354vw/* 281px */;}
    }
  }
  .designRight {
    margin-left: 108px; margin-top: 156px; 
    .designColor {
      > p {padding-bottom: 29px;}
      .colorWrap {
        display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; padding-left: 17px;
        .colorCubeWrap {margin-right: 1.5625vw/* 30px */; }
        .colorCube {
          @include border-radius(50%);
          width: 137px; height: 137px; margin-bottom: 21px;
          &.mainBeige {background: #E2CEBD;}
          &.pointBrown {background: #442A0D;}
          &.mainText {background: #333333;}
          &.subText {background: #e2e2e2;}
          p {
            font-family: KoreanDREAM3; font-size: 0.78125vw/* 15px */; line-height: 1.25vw/* 24px */; letter-spacing: 0.05em; 
          }
        }
      }
    }
    .designTypo {
      margin-top: 5.8333vw/* 112px */;
      > p {padding-bottom: 1.40625vw/* 27px */;}
      img {padding-left: 0.8854vw/* 17px; */}
      }
  }
}

/* heyri3 CSS */
#heyri3 {
  position: relative; width: 100%; height: 100vh; overflow: hidden; background: #ffeedb; 
  .bgLine {
    position: absolute; width: 100%; height: 302px; background: #442A0D; bottom: 70px; left: 0;
    > p {
      font-family: KoreaDREAM3; font-size: 3.2292vw/* 62px */; letter-spacing: -0.27px; line-height: 4.1146vw/* 79px */; font-weight: 900; padding: 73px 0 73px 243px; color: #fff; text-align: left;
    }
  }
  .originalHomepage {
    position: relative; display: inline-block;
    p {
      display: inline-block; font-family: KoreanDREAM3; padding: 60px 0 50px 20.8333vw/* 400px */;
    }
    .mainPageIMG {position: absolute; top: 100%; left: 5%; height: 22.03125vw/* 423px */;}
  }
  .analysisText {
    position: relative; width: 35.9375vw/* 690px */; height: 8.90625vw/* 171px */; float: left; padding-left: 10.7292vw/* 206px */; margin-top: 8.75vw/* 168px */;
    img {
      position: absolute; top: -15px; left: 21%; width: 18.16px; height: 18.36px;
    }
    p {padding-bottom: 0;}
  }
  
}

/* heyri4 CSS */
#heyri4 {
  position: relative; width: 100%; height: 100vh; overflow: hidden; background: #ffeedb; 
  .wireframe {
    display: inline-block; margin-left: 0; position: relative; margin: 4.1667vw/* 80px */ 0 6.5104vw/* 125px */; width: 100%;
    > img:first-child {
      position: absolute; top: -15px; left: 44.5%; width: 18.16px; height: 18.36px;
    }
    h3 {text-align: center;}
    .content {
      padding-bottom: 0; text-align: center;
      span {color: #16aec0;}
    }
  }
  .wireframeWrap {
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; width: 1598px; height: 538px; text-align: center; margin: 0 auto;
    span {
      display: block; font-family: KoreaDREAM5; font-size: 22px; color: #c4c4c4; text-align: center;
    }
  }
}

/* heyri5 CSS */
#heyri5 {
  position: relative; width: 100%; height: 550px; background: #442A0D;
  .pagePreview {
    display: inline-block; margin-left: 0; position: relative; /* margin: 128px 0 0; */ padding-top: 68px; width: 100%; height: 550px; overflow: hidden; padding-bottom: 112px;
    .pageBlurImg {
      position: absolute; top: 0; left: 0; right: 0; margin: 0 auto;
    }
    > img:nth-child(2) {
      position: absolute; top: 8%; left: 42.5%; width: 18.16px; height: 18.36px;
    }
    h3 {position: relative; color: #fff; text-align: center; font-weight: 400;}
    .content {
      position: relative; padding-bottom: 0; text-align: center; color: #fff; font-size: 24px; line-height: 34px;
      span {color: #16aec0;}
    }
    a {
      @include border-radius(50px);
      position: relative;
      display: block; background: #fff; width: 252px; height: 74px; line-height: 74px; font-family: "Fugaz one"; font-size: 24px; color: #000; text-align: center; margin: 151px auto 128px; 
    }
    
  }
}

/* heyri6 CSS */
#heyri6 {
  width: 100%; height: 100vh; background: #ffeedb;
  .swiper-slide {
    position: relative; display: inline-block; margin-left: 0; padding-top: 111px; width: 100%; height: 100vh;
      .detailText {
        position: relative; width: 100%; height: 81px; 
        > img:first-child {
          position: absolute; top: -15px; left: 5%; width: 18.16px; height: 18.36px;
        }
        h3 {display: inline-block; padding: 0 0 0 113px; vertical-align: top;}
        > p {display: inline-block; padding-left: 105px;}
        .detailTitle {
          font-size: 21px; line-height: 32px;
          strong {font-size: 25px; padding-bottom: 20px;}
        }
      }
      .compare {
        position: relative; font-size: 0; margin-top: 137px;
        .heyriTabCode {text-align: center;}
        > img:nth-child(2) {position: absolute; top: -8%; left: 8%;}
        > img:nth-child(3) {position: absolute; top: 18%; left: 32%;}
        > img:nth-child(4) {position: absolute; top: 2%; left: 53%;}
        > img:nth-child(5) {position: absolute; top: 18%; left: 72%;}
        > p {font-size: 21px; text-align: center; line-height: 36px; padding-top: 63px;}
        span {color: #16aec0;}
      }
  }
  .heyriSlide2 {
    .compare2 {
      position: relative; font-size: 0; margin-top: 137px;
      .heyrSkipWrap {text-align: center;}
      > img:nth-child(2) {position: absolute; top: 4%; left: 54%;}
      > p {font-size: 21px; text-align: center; line-height: 36px; padding-top: 63px;}
      > span {color: $goproBlue;}
    }
  }
  .controller {
    position: absolute; top: 50%; left: 0; width: 100%;
    .swiper-button-next, .swiper-button-prev {
        @include bgsize(cover);
        position: static; display: block; background: no-repeat center; width: 25px; height: 43px; top: 50%; 
    }
  }
  .swiper-button-next:after, .swiper-button-prev:after {display: none;}
}

